# Datenformate
*.xlsx
*.xls
*.csv
*.ssa

# Compilierte Einheiten
*.dcu
*.ppu
*.o
*.compiled

# Temporäre Dateien / Backups
*.~pas
*.~dfm
*.bak
*.tmp
*.cfg

*.log


# Lazarus generiert auch manchmal:
backup/
test/
test_cenadco_export/
exporte/
lib/i386-win32/
zeoslib/zeosdbo/
db_zum_rücksetzen/
*.or

# IDE-spezifisch (optional)
*.lps    # Lazarus Session-Dateien
# *.lpi    # Projekt-Informationen (nur ignorieren, wenn nicht geteilt)

firebird.msg